---
import BaseLayout from "./BaseLayout.astro";
import Sidebar from "../components/Sidebar.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div>
    <div class="mb-4">
      <h1>{frontmatter.title}</h1>
      <div class="text-sm text-slate-300/80">
        <h5>
          Written by: {frontmatter.author}
        </h5>
        <h5>
          Published: {frontmatter.pubDate}
        </h5>
      </div>
    </div>
    <div class="flex">
      <div id="content-container" class="[&>h2]:mt-[1lh] [&>h2]:mb-[0.25lh]">
        <slot />
      </div>

      <Sidebar />
    </div>
  </div>{
    frontmatter.tags && frontmatter.tags.length > 0 && (
      <div class="tags flex gap-2">
        <p>Tags:</p>
        <ul class="flex flex-wrap gap-2 hover:underline text-green-400">
          {frontmatter.tags.map((tag: string) => (
            <li>
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))}
        </ul>
      </div>
    )
  }
</BaseLayout>
<style>
  div#content-container > * {
    margin-bottom: 1lh;
  }
</style>
